/* Base styles */
body {
    font-family: Arial, sans-serif;
    
  }
.container-top {
  text-align: center;
}
  /* Mobile styles */
  @media (max-width: 600px) {
    body {
      font-size: 14px;
    }
  
    .container {
      padding: 10px;
    }
  }
  
  /* Desktop styles */
  @media (min-width: 601px) {
    body {
      font-size: 16px;
    }
  
    .container {
      padding: 20px;
    }
  }  
.buttons-div {
  display: flex;
  gap: 1vw;
}

#add-button {
  font-weight: bolder;
}